<div class="card w-50 my-2">
    <div class="card-title d-flex justify-content-between px-2">
        <h6>{{user.username}}</h6>
        <h6>{{format_date createdAt}}</h5>
    </div>
    <div class="card-body">{{text}}</div>
</div>