<div class="card w-75 my-3">
    <div class="card-title d-flex justify-content-between px-2 h4">
        <a href="/post/{{id}}">
            <p>{{title}}</p>
        </a>
        <p>Posted By {{user.username}}</p>
    </div>
    <div class="card-body">{{content}}</div>
</div>