<div class="card w-75 my-3">
    <div class="card-title d-flex justify-content-between px-2 h4">
        <p>{{post.title}}</p>
        <p>Posted By {{post.username}}</p>
    </div>
    <div class="card-body">{{post.content}}</div>
</div>